<div class="card shadow-sm">
    <img class="bd-placeholder-img card-img-top" width="100%" [src]="book.image" alt="">


    <div class="card-body">
       
        <p class="card-text"> {{ book.title }}</p>
        <p class="card-text"> {{ book.subtitle }} </p>
        <p class="card-text"> {{ book.price }} </p>
        <p class="card-text"> {{ book.image }} </p>

        <div class="btn-group">
            <button class="btn btn-sm btn-primary">Buy</button>
            <button class="btn btn-sm btn-outline-primary">Info</button>
        </div>
    </div>
</div>
